.projects {
  position: relative;
  display: flex;
  height: 100vh;

  @media screen and (max-width: 480px) and (orientation: portrait) {
    height: 100%;  
  }

  &__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 65vh;
    background-color: $bg-first;

    &-2 {
      position: absolute;
      z-index: -1;
      left: -24vh;
      bottom: 14vh;
      width: 120vw;
      height: 50vh;
      background-color: $bg-first;
      transform: rotate(-8deg);
      overflow: hidden;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        left: -15vh;
      }

      @media screen and (max-width: 480px) and (orientation: portrait) {
        left: -6vh;
        bottom: 2vh;
        height: 60vh;
      }

      & div {
        position: absolute;
        bottom: -160px;
        height: 100%;
        width: 100%;
        transform: rotate(8deg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: auto 100%;
      }
    }
  }

  &__content {
    padding-bottom: 14vh;
  }

  &__slider {
    %arrow {
      width: 5vh;

      &:before {
        font-size: 4vh;
        color: $primary-color;
      }
    }

    & .slick-prev {
      @extend %arrow;
    }
      
    & .slick-next {
      @extend %arrow;
    }
  }

  & h3 {
    margin-bottom: 4vh;
    font-family: $secondary-font, monospace;
    font-size: 3vh;
    text-align: center;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      margin-top: 10vh;
      font-size: 4vh;
    }
  }
}

.project-board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-bottom: 4vh;
  padding-bottom: 10px;
  width: 26vw;
  height: 60vh;
  font-family: $secondary-font, monospace;
  background: white;

  @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    width: 40vw;
    height: 70vh;
  }

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    width: 60vw;
  }

  @media screen and (max-width: 480px) and (orientation: portrait) {
    width: 75vw;
    min-height: 80vh; 
  }

  & img {
    width: 28vh;
    margin: 0 auto;
  }

  & h4 {
    font-size: 2.6vh;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      margin: 2vh 0 3vh 0;
      font-size: 3vh;
    }
  }

  & .description {
    height: 25%;
    width: 70%;
    font-size: 1.9vh;
    line-height: 2.2vh;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      height: 40%;
      font-size: 2.5vh;
      line-height: 2.5vh;
    }

    & p {
      margin-bottom: 2vh;

      &:nth-child(1) {
        font-weight: bold;
      }
    }

    & .color-one {
      font-weight: bold;
      color: $first-color;
    }
  }

  & .buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    
    @media screen and (max-width: 480px) and (orientation: portrait) {
      flex-direction: column;
    }

    & button {
      width: 45%;
      height: 4vh;
      font-family: $primary-font, sans-serif;
      font-size: 2.2vh;
      background: $second-color;
      border: none;
      border-radius: 25px;
      color: $bg-primary;
      outline: none;
      transition: 0.5s;

      @media screen and (max-width: 480px) and (orientation: portrait) {
        width: 100%;
        height: 6vh;
        margin: 1vh 0;
        font-size: 3vh;
      }

      &:nth-child(2) {
        background: $third-color;
      }

      &:hover {
        cursor: pointer;
        background: $first-color;
        transition: 0.3s
      }
    }
  }
}
