.skills {
  position: relative;
  display: flex;
  height: 100vh;

  @media screen and (max-width: 480px) and (orientation: portrait) {
    height: 100%;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-color: $bg-third;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 80%;

    &-2 {
      position: absolute;
      z-index: -2;
      bottom: 16vh;
      width: 120vw;
      height: 50vh;
      background-color: $bg-third;
      transform: rotate(-8deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30vh;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      padding: 0;
    }
  }

  & h3 {
    margin-bottom: 3vh;
    font-family: $secondary-font, monospace;
    font-size: 3vh;
    text-align: center;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      margin-top: 10vh;
      font-size: 4vh;
    }
  }

  & .description {
    margin-bottom: 3vh;
    width: 30vw;
    font-family: $secondary-font, monospace;
    font-size: 2vh;
    line-height: 3vh;

    @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
      width: 45vw;
    }

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      width: 100%;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      font-size: 2.5vh;
    }
  }

  & .skills-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    font-size: 2.4vh;
    background: white;

    @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
      width: 80vw;
    }

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      width: 100%;
      padding: 0 2vh;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      margin-bottom: 6vh;
      font-size: 2.8vh;
    }

    &__primary {
      display: flex;
      margin: 3vh 0;
      height: 50%;
      width: 100%;
      text-align: center;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        flex-direction: column;
        margin-top: 1vh;
      }

      @mixin column($color) {
        width: 50%;

        @media screen and (max-width: 1024px) and (orientation: portrait) {
          width: 100%;
          margin-top: 2vh;
        }
          
        & h4 {
          color: $color;
          margin-bottom: 2vh;
        }
      }

      &-1 {
        @include column($first-color);
      }

      &-2 {
        @include column($second-color);
      }
    }

    &__secondary {
      width: 50%;
      margin: 2vh 0;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        box-sizing: border-box;
        width: 100%;
        margin: 2vh;
      }

      @media screen and (max-width: 480px) and (orientation: portrait) {
        width: 80%;
        margin-bottom: 4vh;
      }

      & span {
        font-weight: bold;
        color: $third-color;
      }
    }

    & .skill-icons {
      display: grid;
      grid-template: 1fr / repeat(4, 1fr);
      margin: auto;
      width: 70%;

      @media screen and (max-width: 480px) and (orientation: portrait) {
        width: 80%;
      }
    }

    & .skill-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 9vh;
      font-size: 2vh;

      @media screen and (max-width: 480px) and (orientation: portrait) {
        font-size: 2.2vh;
      }

      & svg {
        height: 7vh;
        width: 7vh;
        fill: $primary-color;
      }
    }
  }
}