.about-me {
  position: relative;
  display: flex;
  height: 100vh;
  font-family: 'Inconsolata', serif;

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    height: inherit;
  }

  @media screen and (max-width: 480px) and (orientation: portrait) {
    height: 100%;
  }
  
  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 80%;
    background-color: $bg-second;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 25vw;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      height: 90%;
      background-size: auto 50vh;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
      align-items: flex-start;
      max-width: 75vw;
    }

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      flex-direction: column;
    }
  }

  &__text {
    margin-right: 50px;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      margin-bottom: 1vh;
      margin-right: 0;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      margin: 10vh 0 2vh 0;
    }

    & h3 {
      font-size: 3vh;
      text-align: center;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        margin: 10vh 0 3vh 0;
      }

      @media screen and (max-width: 480px) and (orientation: portrait) {
        font-size: 4vh;
      }
    }

    &--paragr {
      font-size: 2vh;
      margin: 20px 0;

      @media screen and (max-width: 480px) and (orientation: portrait) {
        font-size: 3vh;
      }

      & p {
        margin: 20px 0;
      }
    }
  }

  &__photo-field {
    position: relative;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      margin: 5vh 0 10vh 0;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      margin-top: 3vh;
    }

    & .name {
      position: absolute;
      z-index: 2;
      top: 12vh;
      right: -6vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 2vh;
      box-sizing: border-box;
      width: 16vh;
      height: 16vh;
      font-family: $primary-font, sans-serif;
      font-size: 2.4vh;
      background: $bg-third;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        top: 7vh;
        right: -3vw;
        width: 12vh;
        height: 12vh;
        font-size: 2vh;
      }

      @media screen and (max-width: 480px) and (orientation: portrait) {
        top: 5vh;
        right: -4vw;
      }

      &__line {
        width: 8vh;
        height: 0.3vh;
        background: $primary-color;

        @media screen and (max-width: 1024px) and (orientation: portrait) {
          width: 6vh;
        }
      }
    }

    & .line-rect {
      position: absolute;
      top: 18vh;
      left: 38vh;
      width: 28vh;
      height: 16vh;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        z-index: -1;
        top: -5%;
        left: 60%;
        height: 28vh;
        width: 25vh;
      }
    }
  }

  & img {
    width: 52vh;

    @media screen and (max-width: 1024px) and (orientation: portrait) {
      width: 50vh;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      width: 100%;
    }
  }
}